<!--
<div class="card text-left shadow mb-4">
  <div class="card-header text-left py-3"><a class="btn btn-light btn-icon-split" role="button"><span class="text-dark text"><strong>Дежурный ПО и БД</strong></span><span class="text-black-50 icon"><i class="fas fa-arrow-right"></i></span></a>
    <h6 class="text-primary m-0 font-weight-bold"></h6>
  </div>
  <div class="card-header text-left py-3">
    <h6 class="text-primary m-0 font-weight-bold"><a class="btn btn-light btn-icon-split" role="button"><span class="text-dark text"><strong>Технический эксперт</strong></span><span class="text-black-50 icon"><i class="fas fa-arrow-right"></i></span></a></h6>
  </div>
  <div class="card-header text-left py-3"><a class="btn btn-light btn-icon-split" role="button"><span class="text-dark text"><strong>Тестировщик-автоматизатор</strong><br /></span><span class="text-black-50 icon"><i class="fas fa-arrow-right"></i></span></a>
    <h6 class="text-primary m-0 font-weight-bold"></h6>
  </div>
  <div class="card-header text-left py-3"><a class="btn btn-light btn-icon-split" role="button"><span class="text-dark text"><strong>Технолог</strong><br /></span><span class="text-black-50 icon"><i class="fas fa-arrow-right"></i></span></a>
    <h6 class="text-primary m-0 font-weight-bold"></h6>
  </div>
  <div class="card-header text-left py-3"><a [routerLink]="'/dashboard/plans/constructor'" class="btn btn-light btn-icon-split" role="button"><span class="text-dark text"><strong>Создать шаблон</strong></span><span class="text-black-50 icon"><i class="fas fa-arrow-right"></i></span></a>
    <h6 class="text-primary m-0 font-weight-bold"></h6>
  </div>
</div>


-->


<div class="card text-left shadow mb-4">
  <div class="shadow card"><a class="btn btn-link text-left card-header font-weight-bold" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-1" href="#collapse-1" role="button">Дежурный ПО и БД</a>
    <div class="collapse" id="collapse-1">
      <div class="card-body">
        <p class="m-0">Форма создания шаблона</p>
      </div>
    </div>
  </div>
  <div class="shadow card"><a class="btn btn-link text-left card-header font-weight-bold" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-5" href="#collapse-5" role="button">Технолог</a>
    <div class="collapse" id="collapse-5">
      <div class="card-body">
        <p class="m-0">Форма создания шаблона</p>
      </div>
    </div>
  </div>
  <div class="shadow card"><a class="btn btn-link text-left card-header font-weight-bold" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-3" href="#collapse-3" role="button">Технический эксперт</a>
    <div class="collapse" id="collapse-3">
      <div class="card-body">
        <p class="m-0">Форма создания шаблона</p>
      </div>
    </div>
  </div>
  <div class="shadow card"><a class="btn btn-link text-left card-header font-weight-bold" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-4" href="#collapse-4" role="button">Тестировщик-автоматизатор</a>
    <div class="collapse" id="collapse-4">
      <div class="card-body">
        <p class="m-0">Форма создания шаблона</p>
      </div>
    </div>
  </div>
  <div class="shadow card"><a class="btn btn-link text-left card-header font-weight-bold" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-2" href="#collapse-2" role="button">Создать шаблон</a>
    <div class="collapse" id="collapse-2">
      <div class="card-body">
        <p class="m-0"><app-plans-constructor></app-plans-constructor></p>
      </div>
    </div>
  </div>
</div>
