<app-header></app-header>

<div class="container-fluid">
  <div class="row">
    <app-sidebar></app-sidebar>

    <main role="main" class="w-100 h-100 col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div class="main-wrapper">
        <ng-container *ngIf="currentDashboard === dashboardType.CREATE_EMPLOYEE">
          <app-create-employee></app-create-employee>
        </ng-container>
        <ng-container *ngIf="currentDashboard === dashboardType.PLANS">
          <app-plans></app-plans>
        </ng-container>
        <ng-container *ngIf="currentDashboard === dashboardType.PLANS">
          <app-plans></app-plans>
        </ng-container>
        <ng-container *ngIf="currentDashboard === dashboardType.PLANS">
          <app-plans></app-plans>
        </ng-container>
        <ng-container *ngIf="currentDashboard === dashboardType.PLANS">
          <app-plans></app-plans>
        </ng-container>
      </div>
    </main>
  </div>
</div>
