<div class="container-fluid">
  <h3 class="text-dark mb-4">Результаты выполнения плана</h3>
  <h5 class="text-dark mb-4" style="margin-bottom: 0px;margin-top: 0px;">Обучающиеся сотрудники:</h5>
  <div style="margin-top: -20px;">
    <div class="shadow card"><a class="btn btn-link text-left card-header font-weight-bold" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-4" href="#collapse-4" role="button">Дежурные ПО и БД</a>
      <div class="collapse" id="collapse-4">
        <div class="card-body"><input type="search" data-toggle="tooltip" data-placement="right" class="border rounded d-xl-flex justify-content-xl-end align-items-xl-center" style="width: 250px;margin-bottom: 10px;" title="Поиск сотрудника" />
          <div><a class="btn" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-5" href="#collapse-5" role="button">Иванов Иван Иванович</a>
            <div class="collapse" id="collapse-5">
              <p style="margin-top: 5px;">Шаг 1 - Пройден<br />Шаг 2 - Пройден<br />Шаг 3 - Не пройден</p>
            </div>
          </div>
          <div><a class="btn" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-7" href="#collapse-7" role="button">Иванов Иван Иванович</a>
            <div class="collapse" id="collapse-7">
              <p style="margin-top: 5px;">Шаг 1 - Пройден<br />Шаг 2 - Пройден<br />Шаг 3 - Не пройден</p>
            </div>
          </div>
          <div><a class="btn" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-6" href="#collapse-6" role="button">Иванов Иван Иванович</a>
            <div class="collapse" id="collapse-6">
              <p style="margin-top: 5px;">Шаг 1 - Пройден<br />Шаг 2 - Пройден<br />Шаг 3 - Не пройден</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="shadow card"><a class="btn btn-link text-left card-header font-weight-bold" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-1" href="#collapse-1" role="button">Технические эксперты</a>
      <div class="collapse" id="collapse-1">
        <div class="card-body">
          <p class="m-0">This is a collapsable card example using Bootstrap&#39;s built in collapse functionality. <strong>Click on the card header</strong> to see the card body collapse and expand!</p>
        </div>
      </div>
    </div>
    <div class="shadow card"><a class="btn btn-link text-left card-header font-weight-bold" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-2" href="#collapse-2" role="button">Технологи</a>
      <div class="collapse" id="collapse-2">
        <div class="card-body">
          <p class="m-0">This is a collapsable card example using Bootstrap&#39;s built in collapse functionality. <strong>Click on the card header</strong> to see the card body collapse and expand!</p>
        </div>
      </div>
    </div>
    <div class="shadow card"><a class="btn btn-link text-left card-header font-weight-bold" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-3" href="#collapse-3" role="button">Тестировщики</a>
      <div class="collapse" id="collapse-3">
        <div class="card-body">
          <p class="m-0">This is a collapsable card example using Bootstrap&#39;s built in collapse functionality. <strong>Click on the card header</strong> to see the card body collapse and expand!</p>
        </div>
      </div>
    </div>
  </div>
</div>
