.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e3e6f0;
  border-radius: .35rem;
}


.popup {
  padding: 10px;
  min-height: 100%;
  position: relative;
  font-size: 18px;
}

.popup_close {
  position: absolute;
  right: 20px;
  top: 20px;
  background: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  outline: 0 !important;
  border: 0;
  padding: 0;
}
