.popup {
  padding: 10px;
  min-height: 100%;
  position: relative;
  font-size: 18px;
}

.popup_close {
  position: absolute;
  right: 40px;
  top: 20px;
  background: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  outline: 0 !important;
  border: 0;
  padding: 0;
}
