.employeeres-wrapper {
  padding: 15px;

  .pre-table {
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 15px;
  }
}

.table thead th {
  vertical-align: text-top;
  border-bottom: 2px solid #dee2e6
}

.assign-button {
  width: 176px;
  height: 25px;
  font-size: 12px;
  text-align: center;
  line-height: 0px;
}

.find-employee-input {
  width: 348px;
  height: 31px;
  margin: 0px;
  padding: 15px;
  margin-right: -2px;
  font-size: 12px;
}

.add-employee-button {
  height: 31px;
  line-height: 0px;
  font-size: 12px;
  text-align: center;
  width: 190px;
  margin: 0px;
  padding: 0px;
  margin-right: 0px;
  margin-left: 16px;
}
