.employeeres-wrapper {
  padding: 15px;

  .pre-table {
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 15px;
  }
}

.table thead th {
  vertical-align: text-top;
  border-bottom: 2px solid #dee2e6
}
