<div class="container-fluid">
  <h3 class="text-dark mb-4">Привет, name!</h3>
  <div>
    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr></tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <div class="col-xl-12">
              <div class="card">
                <div class="card-body" style="height: 228px;">
                  <h4 class="d-xl-flex justify-content-xl-start card-title">Прогресс обучения</h4>
                  <h6 class="d-xl-flex justify-content-xl-start card-title" style="margin-bottom: 0px;">Дежурный ПО и БД</h6>
                  <div class="progress border rounded-0 d-xl-flex" style="height: 22px;margin-right: 0px;margin-top: 5px;">
                    <div class="progress-bar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">50%</div>
                  </div>
                  <p class="card-text" style="margin-top: 5px;">Уроков 12/23<br />Контрольных точек: 6/12<br />Оценок знаний 0/1</p>
                </div>
              </div>
            </div>
          </td>
          <td>
            <div class="col-xl-12">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Текущий шаг</h4>
                  <p class="card-text">Название шага</p>
                </div>
              </div>
              <div class="card" style="margin-top: 20px;">
                <div class="card-body">
                  <h4 class="card-title">Ближайшая контрольная точка</h4>
                  <p class="card-text">Дата Название</p>
                </div>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
