<div class="container-fluid">
  <div class="d-sm-flex justify-content-between align-items-center mb-4">
    <h3 class="text-dark mb-0">Привет, name!</h3><a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="#"><i class="fas fa-download fa-sm text-white-50"></i> Сгенерировать отчет</a></div>
  <div class="row">
    <div class="col-lg-7 col-xl-6 offset-xl-0">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="text-primary font-weight-bold m-0">Запланировано на сегодня:</h6>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="row align-items-center no-gutters">
              <div class="col mr-2">
                <h6 class="mb-0"><strong>КТ &quot;Инструменты Администратора&quot;</strong></h6><span class="text-xs">10:30 МСК</span></div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row align-items-center no-gutters">
              <div class="col mr-2">
                <h6 class="mb-0"><strong>Обучение &quot;Подсистемы АИС Налог-3&quot;</strong></h6>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="text-primary font-weight-bold m-0">Запланировано на завтра:</h6>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="row align-items-center no-gutters">
              <div class="col mr-2">
                <h6 class="mb-0"><strong>КТ &quot;Инструменты Администратора&quot;</strong></h6><span class="text-xs">10:30 МСК</span></div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row align-items-center no-gutters">
              <div class="col mr-2">
                <h6 class="mb-0"><strong>Обучение &quot;Подсистемы АИС Налог-3&quot;</strong></h6>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row" style="margin-bottom: 28px;box-shadow: 0 0;">
    <div class="col">
      <div>
        <div class="card">
          <div class="card-body">
            <h4 class="card-title"><strong>Текущая программа обучения</strong></h4>
            <h6 class="text-muted card-subtitle mb-2" style="font-size: 18px;">Дежурный ПО и БД</h6>
            <div class="row">
              <div class="col-xl-7 offset-xl-0">
                <div class="row">
                  <div class="col-xl-3">
                    <div style="width: 215px;"><i class="fa fa-video-camera" style="margin-top: 8px;"></i><label style="margin-left: 5px;margin-top: 8px;">Уроков 12/23</label></div>
                  </div>
                  <div class="col">
                    <div style="width: 215px;"><i class="fa fa-check" style="margin-top: 8px;"></i><label style="margin-left: 5px;margin-top: 8px;">Контрольных точек 4/12</label></div>
                  </div>
                  <div class="col">
                    <div style="width: 215px;"><i class="fa fa-star" style="margin-top: 8px;"></i><label style="margin-left: 5px;margin-top: 8px;">Оценок знаний 0/1</label></div>
                  </div>
                </div>
              </div>
              <div class="col-xl-2 offset-xl-3" style="width: 60px;">
                <div><button class="btn btn-icon-split" type="button"><span class="text-dark text">Подробнее</span><span class="text-black-50 icon"><i class="fas fa-arrow-right"></i></span></button></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
