<form class="form-signin" [formGroup]="form">
  <h1 class="h3 mb-3 font-weight-normal">Авторизация</h1>
  <label for="inputLogin" class="sr-only">Логин</label>
  <div class="form-group">
    <input type="text" [formControl]="form.controls['login']" id="inputLogin" class="form-control" placeholder="Логин"
           required autofocus>
  </div>
  <label for="inputPassword" class="sr-only">Пароль</label>
  <div class="form-group">
    <input type="password" [formControl]="form.controls['password']" id="inputPassword" class="form-control"
           placeholder="Пароль" required>
  </div>
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Запомнить меня
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="onSubmit()">Войти</button>
  <p class="mt-5 mb-3 text-muted">&copy; 2020 - ЦПП. ФКУ НАЛОГ-СЕРВИС</p>
</form>
