<form class="form-signin">
  <img class="mb-4" src="https://cdn.icon-icons.com/icons2/1648/PNG/512/10012smilingfacewithsunglasses_110016.png" alt="" width="72"
       height="72">
  <h1 class="h3 mb-3 font-weight-normal">Авторизация</h1>
  <label for="inputEmail" class="sr-only">Логин</label>
  <input type="text" id="inputEmail" class="form-control" placeholder="Логин" required autofocus>
  <label for="inputPassword" class="sr-only">Пароль</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Пароль" required>
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Запомнить
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
  <p class="mt-5 mb-3 text-muted">&copy; 2020 - ЦПП. ФКУ НАЛОГ-СЕРВИС</p>
</form>
